.link-container{
  text-decoration: none;
  color: inherit;
  display: block;
  flex: 1;
}
.artiste-list-card{
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  justify-content: space-between;
  box-sizing: border-box;
  transform-origin: center;
  animation: ease-in 0.7s  card-scale;
}
@keyframes card-scale {
  from {
    transform: scale(0.5);
  }
  to{
    transform: scale(1);
  }

}
.artist-card-event-list-container{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.artist-card-event-list-container .artist-card-event-container{
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.artist-card-event-list-container .artist-card-event-container > *{
  flex-grow: 1;
}
.card-main-container{
  display: flex;
  flex-direction: column;
  padding: 0.3rem 0;
}
.first-letter-of-artist-card{
  box-sizing: border-box;
  border: 0.1rem solid #000;
  font-size: 1.5rem;
  border-radius: 100%;
  height: 6rem;
  width: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left-container{
  padding: 0.3rem;
  box-sizing: border-box;
  display: flex;
  font-size: 1.5rem;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  gap: 1rem;
}
.artist-card-content{
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 1.5rem;
  gap: 0.1rem;
}
