@let artist = this.artist();
<mat-card class="artiste-list-card">
  <a class="link-container" [routerLink]="'/artists/'+ artist.id">
    <section class="left-container">
      <mat-card class="first-letter-of-artist-card">
        {{artist.label[0].toUpperCase()}}
      </mat-card>
      <section class="card-main-container">
        <span class="artist-name">{{artist.label}}</span>

        <div class="artist-card-event-list-container">
          <span>
            <mat-card-content class="artist-card-content">
              <mat-icon>local_activity</mat-icon>{{artist.events.length}}:
            </mat-card-content>
          </span>
          <section class="artist-card-event-container">
            @for (event of artist.events.slice(0, 2); track event.id) {
              <span class="event-chip">{{event.label}}</span>
            } @empty {
              <span class="no-event">Aucun événement</span>
            }
            @if (artist.events.length > 2) {
              <span class="event-chip plus-chip">Plus</span>
            }
          </section>
        </div>
      </section>
    </section>
  </a>
</mat-card>