.artist-name{
  font-size: 1.3rem;
}
.header-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.event-associate-artist-card{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.action-container{
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  flex-direction: column;
}
.artist-first-letter-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  background-color: green;
  font-size: 1.5rem;
  border-radius: 100%;
}
.bg-green{
  background-color: green;
}
