.event-card{
  transform-origin:center;
  animation: ease-out 0.5s  card-scale;
  height: 100%;
  overflow: hidden;
}
.w-100{
  display: block;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
}
.event-card > *{
  width: 100%;
  max-width: 100%;
}
.event-name{
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@keyframes card-scale {
  from {
    transform: scale(0.5);
  }
  to{
    transform: scale(1);
  }

}
.list-artist-container{
  display: grid;
  flex: 1;
  padding: 0;
  margin: 0;
  gap: 0.5rem;
  width: calc(100% - 2rem);
  grid-template-columns: repeat(4, 1fr);
  overflow: hidden;
}
.list-artist-container .flex-center{
  overflow: hidden;
  align-self: stretch;
  max-width: 100%;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  border: 0.02rem solid #636363;
  border-radius: 0.4rem;
  text-align: center;
  padding: 0.5rem;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.date-container {
  padding: 0.5rem;
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.artist-number-container{
  display: flex;
  justify-content: left;
  align-items: center;
}
