@let artists = this.event().artists;
<mat-card class="event-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title>{{event().label}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-chip-set aria-label="Fish selection">
      <mat-chip class="flex-center">Début {{event().startDate | date:'dd/MM/yyy'}}</mat-chip>
      <mat-chip class="flex-center">
        Fin {{event().startDate | date:'dd/MM/yyy'}}</mat-chip>
    </mat-chip-set>
    <div class="artist-number-container"><mat-icon>group</mat-icon> {{event().artists.length}}</div>
    @if (artists && artists.length!=0){
      <section class="list-artist-container">
        @for (artist of artists.slice(0, 3); track artist.id){
          <mat-chip class="flex-center">{{artist.label}}</mat-chip>
        }
        @if (artists.length>3){
          <mat-chip class="flex-center">Plus d'artistes</mat-chip>
        }
      </section>
    } @else {
      <div class="list-artist-no-content">
        Aucun artiste associé à cet événement
      </div>
    }
  </mat-card-content>
  <mat-card-actions>
    <button routerLink="/events/{{event().id}}" matButton="outlined">
      <mat-icon>visibility</mat-icon>Détails
    </button>
  </mat-card-actions>
</mat-card>
