.event-card{
  transform-origin:center;
  animation: ease-in 0.7s  card-scale;
}
@keyframes card-scale {
  from {
    transform: scale(0.5);
  }
  to{
    transform: scale(1);
  }

}
.list-artist-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.list-artist-container flex-center{
  overflow: hidden;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.date-container {
  padding: 0.5rem;
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.artist-number-container{
  display: flex;
  justify-content: left;
  align-items: center;
}
