<header class="main-header">
  <h1>
    MyArt
  </h1>
  <nav>
    <ul>
      <li>
        <a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{
        exact:true}">
          Accueil
        </a>
      </li>
      <li>
        <a routerLink="artists" routerLinkActive="active-link">
          Artistes
        </a>
      </li>
      <li>
        <a routerLink="events" routerLinkActive="active-link">
          Événements
        </a>
      </li>
    </ul>
  </nav>
</header>
