.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  margin: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.main-header nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.main-header h1{
  color: #29d551;
}
