@let artists = this.artists();
<section class="header-container">
  <app-artist-list-search (inputValue)="name.set($event)"/>
  <div class="header-action-container">

    <a routerLink="/artists/new" class="add-artist-btn" matButton="filled">
      Nouveau
    </a>
  </div>
</section>
@if (onNameChange()){
  <span>
    Résultat de la recherche: {{onNameChange()}}
  </span>
}
@if(artists){
  <section class="artist-list">
    @for (artist of artists.content; track artist.id){
      <app-artist-card [artist]="artist"/>
    }
  </section>
  <mat-paginator
    [length]="artists.totalElements"
    [pageIndex]="page()"
    [pageSize]="pageSize()"
    [pageSizeOptions]="[5, 10, 25, 100]"
    (page)="onPage($event)"
    aria-label="Sélection de page">
  </mat-paginator>
} @else {
  <section>An Error occur</section>
}
